@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --pink:#fc5a8d;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background:var(--pink);
    color: #fff;
}

header{
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
}

/* WEBKIT SCROLLBAR */
::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 10px;
    margin-left: 10px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fc5a8d;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

/* WEBSITE CSS START */
section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2.5rem 0
}

.heading span{
    font-size: 3.5rem;
    background:rgba(255, 55, 155, 0.2);
    color: var(--pink);
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.heading span.space{
    background:none;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--pink);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--pink);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: rgba(255, 55, 155, 0.2);
    color: var(--pink);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

header .logo span{
    color: var(--pink);
}

header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin: 0 .8rem;
}

header .navbar a:hover{
    color: var(--pink);
}

header .icons i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover{
    color: var(--pink);
}

header .search-bar-container{
    position: absolute;
    top: 100%;
    left: 0;
    right:0;
    padding:1.5rem 2rem;
    background:#333;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
    width:100%;
    padding:1rem;
    text-transform: none;
    color:#333;
    font-size: 1.7rem;
    border-radius: .5rem;
}

header .search-bar-container label{
    color:#fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover{
    color:var(--pink);
}

/* hoofd */
#infotext{
    text-shadow: 2px 2px 4px red;
    display: flex;
    width: 100vh;
    margin-top: 5%;
    margin-right: 5vh;
    z-index: 2;
    height: 50vh;
    float: left;
}

#titel{
    display: flex;
    align-items: flex-end;
    padding-top: 200px;
    justify-content: center;
    font-size:x-large;
}
#fototje{
    float: left;
    margin-top: 10vh;
}

#container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-between;
    width: 150vh;
    margin-left: 10vh;
    
}

.icons{
    display: flex;
    height: 1vh;
}

.meer-reis {
    display: flex;
    box-shadow: 4px 4px 55px black;
    flex-direction: row;
    justify-content: space-around;
    width:1000px;
    height: 250px;
    align-items: center;
    margin-left: 28vh;
}

#textmeer{
    margin-left: 28vh;
}

.meer-reis a {
    height: 300px;
    width: 300px;
    position: relative;
}

.meer-reis a:hover::before {
    content: '';
    display: block;
    position: absolute;
    height: 20vh;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.69) 100%);

}

#textinreis{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}




.tab {
    display: flex;
    display: inline-block;
    position: relative;
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    width: 10%;
    height: 5vh;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    top: 20%;
    right: 0;
    left: 8vh;
    cursor: pointer;
}

.tab {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}


#tab1 {
    background-repeat: no-repeat;
    background-size: cover;
}

.cards {
    position:fixed;
    top: 20vh;
    left: 60px;
    height: 600px;
    width: 90%;
    border-radius: 4px;
    text-align: start;
    overflow: hidden;
    background: linear-gradient(225deg, pink 20%, white 60%, pink 100%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
    align-items: center;
}


#bestelknop{
    height: 10vh;
    width: 50vh;
    box-shadow: 5px 5px 55px;
    margin-top: 5vh;
}

#text-in-links{
    margin-top: 25vh;
}

#content-background{
    height: 90%;
    background-size: cover;
   
}

.cards-container:after {
    background: rgba(0, 0, 0, .5);
    content: ' ';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.content-left {
    float: left;
    width: 40%;
    height: 300px;
    padding: 15px;
    text-align: center;
}

.content-right {
    display: flex;
    justify-content: end;
    width: 75%;
    height: 600px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.x-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 2.5em;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 99;
}

.parent{
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 10%, transparent 100%);
}
.child{
    background-image: url("images/restaurante-menu-riu-buenavista_tcm58-240682.jpg");
    height: 700px;
    background-repeat: no-repeat;
}

.prev, .next{
    height: auto;
    width: auto;
}
.x-icon:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#card1 .content-left {
    background: linear-gradient(to right, pink, white);
    height: 600px;
}

.footer{
    background:#333;
    font-size: 63%;
}

.footer .box-container{
    display: flex;
    gap:1.5rem;
}

.footer .box-container .box{
    padding:1rem 0;
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#fff;
}

.footer .box-container .box p{
    font-size: 1rem;
    padding:.7rem 0;
    color:#eee;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:.7rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    padding:2rem 1rem;
    margin-top: 1rem;
    font-weight: normal;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
    color:var(--pink);
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 0.5;
    }
}

.cards {
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.color-red {
    color: red;
}



* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  text-align: center;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(255, 0, 0, 0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.mySlides img {
    width: 80vh;
}

@media screen and (max-width: 1000px) {
    .meer-reis {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #infotext {
        width: 100%;
    }
    #container {
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }
    .slideshow-container {
        width: 100%;
        max-width: 100%;
        margin: 0;      
    }
    .fototje, .infotext {
        width: 100%; 
    }

    .mySlides img {
        width: 100%;
    }
    .prev, .next{
        width: 7vh;
        height:7vh;
    }
    .tab{
        width: 40vh;
    }
}
@media screen and (max-width: 767px) {
    .meer-reis {
        flex-direction: column;
        height: auto;
    }

    .meer-reis img {
        width: 100%;
        margin-bottom: 20px;
    }

    #bestelknop {
        height: 0;
        width: 0;
    }
}
@media (max-width:1200px){

    html{
        font-size: 55%;
    }

}

@media (max-width:991px){

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-bar{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top:100%; right:0; left: 0;
        background: #333;
        border-top: .1rem solid rgba(255,255,255,.2);
        padding:1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        border-radius: .5rem;
        padding:1.5rem;
        margin:1.5rem 0;
        background:#222;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading span{
        font-size: 2.5rem;
    }

    .contact .aboutus .right{
        width:100%;
    }

}
