/* Header styling ---------------------------------------------------------------------------------------------------------------------*/

/* Removing margin, padding, adding font and removing text-decoration. */
*{
    /* margin: 0; */
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}
body {
    margin: 0;
}

/* body{
    background-color: grey;
} */

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 8px;
    margin: auto;
}



div {
    /* background-color: pink; */
    opacity: 100%;
}




body {
    height: auto;
    background-color:#fff

}

.container_div_large_pakket {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    padding-left: 0.5vw;
    flex-direction: column;
}

.large_pakket_div {
    background-color: lightpink;
    outline-style: auto;
    width: 57%;
    padding-left: 1vw;

}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.button {
    background-color: red;
    border: none;
    color:red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btn {
    background-color: red;
    border: none;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .btn {
    transition-duration: 0.4s;
    cursor: pointer;
    
  }
  
  .btn:hover {
    background-color: lightcoral;
    color: grey;
    border: 2px solid red ;
  }
  div.text {
      color: black;
  }
  .numbertext{
    color: black;
    }
    .container_div_large_pakket .large_pakket_div .stars{
        color:yellow;
        background-color: lightpink;
        padding: 6px;
        }

    